@model TanmiahCloneWithDatabase.Models.BreadCrumbModel
@using System.Web.Optimization

@{
    ViewBag.Title = "Edit";
}


@using (Html.BeginForm("Edit", "BreadCrumb", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    HtmlHelper.UnobtrusiveJavaScriptEnabled = false;


    <h3 class="container" style="padding-top:100px; padding-left:28px">Edit a Bread Crumb Component</h3>
    <hr />
    <div class="form-horizontal container center" style="padding-top:25px">



        @*@Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID)*@



        <div class="form-group">
            @Html.LabelFor(model => model.MainLink, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MainLink, new { htmlAttributes = new { @class = "form-control required" } })
                @Html.ValidationMessageFor(model => model.MainLink, "", new { @class = "text-danger", display = "Content" })

                @*  @ViewBag.MainLink*@

            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Link, htmlAttributes: new { @class = "control-label" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Link, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Link, "", new { @class = "text-danger" })
                @*@ViewBag.Link*@
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SubLink, htmlAttributes: new { @class = "control-label " })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SubLink, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubLink, "", new { @class = "text-danger" })

                @*@ViewBag.SubLink*@
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Edit" class="btn btn-default" />
            </div>
        </div>
    </div>

}
@section Scripts {
    @Scripts.Render("~/Scripts/jquery-1.10.2.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jQuery-Validation-Unobtrusive/jquery.validate.unobtrusive.js")

}

