@model System.Data.DataTable

@if (Model != null)
{
    for (int i = 0; i < Model.Rows.Count; i++)
    {

        var imagepath = "~/UploadedFiles/"+Model.Rows[i][4];
        <div class="icon-n-text">
            @* Image Tag *@
            <strong><img src="@Url.Content(Convert.ToString(imagepath))"></strong>

            @* Title Tag *@
            <span>@Model.Rows[i][1]</span>


        </div>

        @*Name Tag*@

        <h3 class="text-box__heading">@Model.Rows[i][2]</h3>

        @*Description Tag*@
        <p class="text-box__disc">
            @Model.Rows[i][3]
            <span style="position: absolute;right: 15px;top: 10px;">
                <a href="@Url.Action("Edit", "HeaderCart", new {@id=Model.Rows[i][0]})" style="margin:0px; padding:0px; background:#ffffff00; color:#337ab7">
                    <img src="~/Content/Common/images/icons/pen.png" />
                </a>
            </span>
            </p>
    }


}