
@{
    ViewBag.Title = "Index";
}

<div class="spotlight spotlight--green-box">
    <div class="banner">
        <div>
            <img class="object-fit desktop" src="~/Content/Common/images/spotlight/tanmiah-product.jpg" alt="Tanmiah Spotlight">
        </div>
        <div>
            <img class="object-fit mobile" src="~/Content/Common/images/spotlight/tanmiah-product-mob.jpg" alt="Tanmiah Spotlight">
        </div>
    </div>
    <div class="text-box bg-light-green">
          @Html.Action("Index", "HeaderCart")
    </div>

</div>
@Html.Action("Index", "BreadCrumb");

@Html.Action("Index","Cart");

@Html.Action("Index","Ingredient");

@Html.Action("Index","RelatedItems");
    